<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- nav bar start -->
    <header>

        <div  class="navbar">
            
            
                <li class="navleft"><img id="favicon" src="/assets/images/favicon.jpeg" alt="Italian Trulli"></li>
                <ul id="nav" class="navright" >
    
                    <li ><a href="#home">Home</a></li>
                    <li id="sta" ><a href="#statistics">Statistics</a></li>
                    <li  ><a href="#rental">Rental</a></li>
                    <li ><a href="#contact">Contact</a></li>
                    <% if(login){%>
                        <li><a href="/logout">Logout</a></li>
                    <%}else{%>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    <%}%>
                </ul>
              
              
        </div>
    </header>

   <!-- navbar end -->
   <!-- homestart -->
<a name = "home"></a>
<div class="home">
    <ul >

        <li id="homeimage1"><img src="/assets/images/image-home-3.jpeg" alt=""></li>

    </ul>
    <div>
        
    </div>
    <li id="homeimage2"><img src="/assets/images/image-home-2.jpeg" alt=""></li>
    <li id="hometext-1">
        Get equipments right away at minimum cost</li>
    <button id="explore"><a href="#rental">Explore</a></button>
    <li id="hometext-2">
        <!-- <h2 class="glow">He who has health, has hope; and he who has hope, has everything.</h2> -->

    </li>

</div>
<!-- homeend -->
<a name = "statistics"></a>
<!-- statistic sstart -->
<div id="statis" class="statistics">
    <div class="wrapper">
        <div class="container">
          <i class="fa-solid fa-truck-medical"></i>
          <span class="num" data-val="100">000</span>
          <span class="text"> Delivered</span>
        </div>
  
        <div class="container">
          <i class="fas fa-smile-beam"></i>
          <span class="num" data-val="150">000</span>
          <span class="text">Happy Customers</span>
        </div>
  
        <div class="container">
          <i class="fa-solid fa-suitcase-medical"></i>
          <span class="num" data-val="225">000</span>
          <span class="text">Equipments</span>
        </div>
  
        <div class="container">
          <i class="fas fa-star"></i>
          <span class="num" data-val="280">000</span>
          <span class="text">Five Stars</span>
        </div>
      </div>
</div>

<!-- statistics end -->
<a name = "rental"></a>
<!-- rentalstart -->
<div class="rental">
  
       
       <div class="search">

            <input type="text"
                placeholder=" Search Courses"
                name="search">
                

               <!-- <img id="searchimage" src="./images/search-1.png" alt=""> -->

               <button type="submit" class="search-button">
                <i class="fas fa-search"></i></button>
              </button>
    </div>
    <div class="productstype">
  
          <dvi class="row">
        <a href="/products/monitoring.html" class="one">
            <div class="cardheader">

                <img src="/assets/images/rental-pg1-1.jpeg" alt="">
            </div>
            <div class="cardbody">

                <div class="text">Monitoring</div>
            </div>
        </a>

        <a href="/products/monitoring.html" class="one">
            <div class="cardheader">

                <img src="/assets/images/rental-pg1-1.jpeg" alt="">
            </div>
            <div class="cardbody">

                <div class="text">Monitoring</div>
            </div>
        </a>
        <a href="/products/monitoring.html" class="one">
            <div class="cardheader">

                <img src="/assets/images/rental-pg1-1.jpeg" alt="">
            </div>
            <div class="cardbody">

                <div class="text">Monitoring</div>
            </div>
        </a>
        <a href="/products/monitoring.html" class="one">
            <div class="cardheader">

                <img src="/assets/images/rental-pg1-1.jpeg" alt="">
            </div>
            <div class="cardbody">

                <div class="text">Monitoring</div>
            </div>
        </a>
    </dvi>
    </div>
         

</div>

<!-- rentalend -->
<a name = "contact"></a>
<!-- contactstart -->
<div class="contact">

    <div class="box-1">
        <div id="text-1">
            Get in Touch
        </div>
        <div class="one">
            <img src="/assets/images/contact-left-1.png" alt="">
            <div id="text">abcdzyx3456@gmail.com</div>
        </div>
        <div class="one">
            <img src="/assets/images/contact-left-2.png" alt="">
            <div id="text">8884301577</div>
        </div>
        <div id="social">
           <a href="https://twitter.com/i/flow/login"><img src="/assets/images/contact-left-3.png" alt=""></a> 
           <a href="https://www.instagram.com/"><img src="/assets/images/contact-left-4.png" alt=""></a> 
           <a href="https://m.facebook.com/"><img src="/assets/images/contact-left-5.png" alt=""></a> 

            
            
        </div>

    </div>
    <div class="box-2">
        <div id="quote">

            If you are here it means you want to start
            a journey.We would love to get to know 
            you and take you on that journey. We’ll be
            perfect for each other-you’ll see...</div>
        </div>
    <div class="box-3"><img src="/assets/images/contact-call-right.png" alt=""></div>
    <div class="box-4"><img src="/assets/images/contact-mail-right.png" alt=""></div>
    <div class="box-5"><img src="/assets/images/contact-at-right.png" alt=""></div>
</div>
<a href="./form.html">form</a>
<!--<a href="/subproducts/monitoring-1.html">subproducts</a>-->
<!-- contactend -->
<script src="/js/frontend.js"></script>
<script>
      var favicon = document.getElementById("favicon");
  favicon.onclick = function(){
    document.body.classList.toggle("darktheme");
    // console.log("woeking")
  }
</script>
</body>
</html>