<%- include('partials/header') %>

<div class="d-flex justify-content-center align-items-center">
  <div class=" border rounded p-2 w-50 h-50">

      <h3>
          <div class="alert alert-danger" role="alert">Login Here</div>
      </h3>

      <form>
          <div class="form-group m-1">
              <label For=""><b>Client Name</b></label>
              <input class="form-control-sm form-control" id="" value="" name="firstname" placeholder="" type="text"/>
          </div>

          <div class="form-group m-1">
              <label For=""><b>Password</b></label>
              <input class="form-control-sm form-control" id="" name="password" placeholder="*******" type="password"/>
          </div>

          <div class="col-5">
              <input class="btn btn-primary" type="submit" value="Submit"/>
          </div>

      </form>

  </div>

</div>

<%- include('partials/footer') %>
