<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is it Stripe Checkout</title>
</head>
<body>
    <button id="checkout">Checkout</button>
    <script>
        let cost='<%-equipmentCost%>'
        var stripe=Stripe(
            "pk_test_51LoWOgSA0dw3ZeMMx7VrNKT2yhmsatqHXJImubjaF0mOT1fEJ5jstnEZ7D9qyHFy2Gs8dKblUl5AjH94Ib8cCwrn00aZ0Nm0FX"
        )
        document.getElementById("checkout").addEventListener("click",function(){
            stripe.redirectToCheckout({
                lineItems:[
                    {
                        amount:cost,
                        quantity:2,
                    },
                ],
                mode:"payment",
                successUrl:"https://www.instagram.com/",
                cancelUrl:"https://twitter.com/home",
            })
            .then(function(res){
                
            })
        })
    </script>
</body>
</html>