<% layout('Layouts/boilerplate') %>
<div class="d-flex justify-content-center align-items-center">
  <div class=" border rounded p-2 w-50 h-50">

      <h3>
          <div class="alert alert-danger" role="alert">Register Here</div>
      </h3>

      <form action="/register" method="POST">
          <div class="form-group m-1">
              <label class="form-label" for="username"><b>Client Name</b></label>
              <input class="form-control-sm form-control" id="" value="" name="username" placeholder="" type="text"/>
          </div>


          <div class="form-group m-1">
              <label class="form-label" for="uniqueID"><b>Unique-ID</b></label>
              <input class="form-control-sm form-control" id="" value="" name="uniqueID" placeholder="" type="text"/>
          </div>

          <div class="form-group m-1">
              <label class="form-label" for="contact"><b>Contact Number</b></label>
              <input class="form-control-sm form-control" id="" value="" name="contact" placeholder="" type="number"/>
          </div>


          <div class="form-group m-1">
              <label class="form-label" for="email"><b>Email</b></label>
              <input required class="form-control-sm form-control" id="" value="" name="email" placeholder="example@gmail.com" type="email"/>
          </div>

          <div class="form-group m-1">
              <label class="form-label" for="password"><b>Password</b></label>
              <input class="form-control-sm form-control" id="" name="password" placeholder="*******" type="password"/>
          </div>

          <div class="col-5">
              <input class="btn btn-primary" type="submit" value="Submit"/>
          </div>

      </form>

  </div>

</div>