body{
    display: flex;
    justify-content: center;
    background-image: url(images/im3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    .card-body{
      margin-top: 100px;
      box-shadow: 0px 0px 35px #BF40BF;
    }
    img{
      width: 500px;
      height: 250px;
    }
    .exbutton{
        margin-left: 200px;
    }

input{
    border:0;
    outline:0;
}

input:focus{
    outline:none!important;
}
  .managemap{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #map{
   
    width: 50%;
    height: 50vh;
    /* background-color: black; */
  }
  
dummy
  {
    height: 100vh;
    width: 100%;
  }