<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="products.css">
    <title>Document</title>
</head>
<body>
      <!-- nav bar start -->
      <header>

        <div  class="navbar">
            
            
                <li class="navleft"><img id="favicon" src="/images/favicon.jpeg" alt="Italian Trulli"></li>
                <ul id="nav" class="navright" >
    
                    <li ><a href="/#home">Home</a></li>
                    <li id="sta" ><a href="/#statistics">Statistics</a></li>
                    <li  ><a href="/#rental">Rental</a></li>
                    <li ><a href="/#contact">Contact</a></li>
                </ul>
              
              
        </div>
    </header>

   <!-- navbar end -->
    <div class="heading">
        <div class="bullet">
            <img src="/images/bullet.png" alt="">

        </div>
<div id="title">Monitoring</div>
    </div>

    <div class="rental">
  
       
    
     <div class="productstype">
         <a href="./products/monitoring.html" class="one">
             <img src="/images/monitoring-1.jpeg" alt="">
             <div class="text">GE
                Dinamap Procare 
                400 Monitor
                 </div>
         </a>
             
             <a href="./products/monitoring.html" class="one">
                <img src="/images/monitoring-2.jpeg" alt="">
                 <div class="text">Cardio Tech
                    SE 1200 Express
                    ECG
                    </div>
             </a>
          
             <a href="./products/monitoring.html" class="one">
                <img src="/images/monitoring-3.jpeg" alt="">
              <div class="text">Philips
                Intellivue MX400 
                Patient Monitor
                 </div>
             </a>
            
       <a href="./products/monitoring.html" class="one">
        <img src="/images/monitoring-4.jpeg" alt="">
         <div class="text">Radiometer
            TCM CombiM
            Monitor
             </div>
       </a>
             
           
     </div>
          
 
 </div>
 
    
</body>
</html>